{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>GreenWatts Landing Page</title>
    <link rel="stylesheet" href="{% static 'userCss/index.css' %}" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="left-section">
      <h1>GreenWatts</h1>
      <p>Monitor. Reduce. Sustain</p>
    </div>

    <div class="right-section">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="login-box">
        <h2>Login to your account</h2>
          <form method="post">
            {% csrf_token %}
          <div class="input-box">
            <!--Login Input Box-->
            <span class="material-icons input-icon">person</span>
            <input
              type="text"
              name="username"
              placeholder="Username"
              required
            />
          </div>

          <div class="input-box">
            <span class="material-icons input-icon">lock</span>
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>

          <div class="remember-me"><input type="checkbox" /> Remember Me</div>
          <button type="submit">Login</button>

          <a class="admin-login" href="{% url 'adminpanel:admin_login' %}">
            Administrators Here</a
          >
        </form>
        <p class="lower-text">
          <strong class="forgot-pass">Forgot Your Password?</strong><br /><br />
          no worries, <a href="#">please click here</a>to reset your password
        </p>
      </div>
    </div>
  </body>
</html>
