{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GreenWatts - Costs</title>
    <link rel="stylesheet" href="{% static 'adminCss/officeUsage.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <h2 class="logo">GreenWaTts</h2>
      <div class="admin-section">
        <div class="admin-icon">⚙️</div>
        <p>ADMIN</p>
      </div>

      <nav>
        <a href="{% url 'adminpanel:admin_dashboard' %}" class="active"
          >📊 Dashboard</a
        >
        <a href="{% url 'adminpanel:office_usage' %}">🏢 Office Usage</a>
        <a href="{% url 'adminpanel:admin_reports' %}">📑 Admin Reports</a>
        <a href="{% url 'adminpanel:admin_costs' %}">💸 Energy Costs</a>
        <a href="{% url 'adminpanel:carbon_emission' %}">🌍 Co2 Emission</a>
        <a href="{% url 'adminpanel:admin_setting' %}">⚙️ Admin Setting</a>
        <!-- logout goes to login page -->
        <a href="{% url 'users:index' %}">🚪 Log Out</a>
      </nav>
    </div>
  </body>
</html>
